
/* Your CSS Code here. */
table,tr,td,th{
	border:1px solid black;
	border-collapse:collapse;
}
.row1{
	background-color:rgb(192,80,77);
	color:white;
}
.row2{
	background-color:rgb(218,150,148);
	color:white;
}
.row3{
	background-color:#F2DCDB;
	color:black;
}
.row4{
	background-color:rgb(217,217,217);
	
}